<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link media="all" type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" />


    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/assets/fonts/stylesheet.css" type="text/css" />

    <title>EAT-DA-BURGER</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/icons/favicon.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <section class="hero is-large is-mobile">
        {{{ body }}}
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                © 2020 Eat-Da-Burger, Inc. All rights reserved
            </p>
        </div>
    </footer>

    <script type="text/javascript" src="/assets/js/burger.js"></script>
</body>

</html>