<section class="section is-warning is-mobile">
    <div class="container">
        <img id="burger-headline" src="/assets/svgs/BurgerHeadline.svg" alt="burger icons and Eat–Da-Burger headline">
    </div>
</section>

<section class="section is-mobile" id="search-burger">
    <div class="column is-three-fifths is-offset-one-fifth has-text-centered">
        <h2>Add to your Burger Bucket List</h2>
        <form class="create-form">
            <div class="form-group">
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <input class="input" type="text" id="newBurger" name="burger_name"
                            placeholder="PLAIN OL’ HAMBURGER">
                    </div>
                    <button class="button" type="submit" id="burgerBtn"><i class="fas fa-hamburger"
                            style="margin-right: 7px;"></i>ADD BURGER
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="section is-mobile" id="lists">
    <div class="columns">
        <div class="column is-2 has-text-centered"></div>
        <div class="column is-4 has-text-centered">
            <ul id="uneaten">
                <h2 class="burger-list-headline"> EAT A BURGER! </h2>
                    {{#each burger}}
                    {{#unless devoured}}
                    {{> burger/burger-block devoured=false}}
                    {{/unless}}
                    {{/each}}
            </ul>

        </div>
        <div class="column is-4 has-text-centered">
            <ul id="eaten">
                <h2 class="burger-list-headline">THE BURGERS YOU ATE!
                </h2>
                    {{#each burger}}
                    {{#if devoured}}
                    {{!-- > means you're looking in the partials directory --}}
                    {{> burger/burger-block devoured=true}}
                    {{/if}}
                    {{/each}}
            </ul>
        </div>
        <div class="column is-2 has-text-centered"></div>

    </div>
</section>