html {
  background-color: hsl(48, 100%, 67%);
}

#burger-headline {
  width: 50%;
  display: block;
  margin: auto;
}

h2 {
  font-family: "CubanoRegular";
  font-size: 35px;
  margin-bottom: 10px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  margin-right: 15px;
}

#burgers-added {
  margin-bottom: 5px;
  text-align: left;
}

#newBurger {
  width: 300px;
}

#burgerBtn,
#devourBtn {
  font-weight: bold;
  color: white;
}

#burgerBtn {
  background-color: #e81e25;
}

#devourBtn {
  background-color: #46a848;
}

form {
  margin-bottom: 20px;
}

#lists {
  margin-bottom: 100px;
}

/* FOOTER */

.footer {
  padding: 20px 0;
  background-color: #272626;
  color: white;
  position: fixed;
  margin-top: auto;
  left: 0;
  bottom: 0;
  clear: both;
  width: 100%;
  text-align: center;
  line-height: 1em;
}

@media only screen and (max-width: 768px) {

h2 {
    font-size: 25px;
}

#burger-headline {
    width: 90%;
    display: block;
    margin: auto;
  }

 /* #search-burger, #lists{
      margin: auto;
  } */
#lists {
    margin-bottom: 50px;
}

}
