html {
  background-color: hsl(48, 100%, 67%);
}

#burger-headline {
  width: 50%;
  display: block;
  margin: auto;
}

h2 {
    font-family: 'CubanoRegular';
    font-size: 30px;
    margin-bottom: 10px;
}

#newBurger {
    width: 300px;
}




/* FOOTER */

.footer {
  padding: 20px 0;
  background-color: #272626;
  color: white;
  position: fixed;
  margin-top: auto;
  left: 0;
  bottom: 0;
  clear: both;
  width: 100%;
  text-align: center;
  line-height: 1em;
}

@media only screen and (max-width: 768px) {
}
